<footer class="footer">
    <div class="footer__inner">
        <div class="footer__info">
            <div class="footer__box">
                <span class="footer__title">About Us</span>
                <div class="box-in"><a href="#" class="footer__link">About Company</a></div>
                <div class="box-in"><a href="#" class="footer__link">FAQ's</a></div>
                <div class="box-in"><a href="#" class="footer__link">Careers</a></div>
                <div class="box-in"><a href="#" class="footer__link">Privacy Policies </a></div>
                <div class="box-in"><a href="#" class="footer__link">Return Policies</a></div>
            </div>
            <div class="footer__box">
                <span class="footer__title">Customer Service</span>
                <div class="box-in"><a href="term" class="footer__link">Terms of Use</a></div>
                <div class="box-in"><a href="term" class="footer__link">Return and Refund</a></div>
                <div class="box-in"><a href="term" class="footer__link">Shipping and Delivery</a></div>
                <div class="box-in"><a href="term" class="footer__link">Privacy Policy</a></div>
            </div>
            <div class="footer__box">
                <span class="footer__title">Quality Process</span>
                <div class="box-in"><a href="#" class="footer__link">Our Farms</a></div>
                <div class="box-in"><a href="#" class="footer__link">Our Estates</a></div>
                <div class="box-in"><a href="#" class="footer__link">Hygiene Processing</a></div>
                <div class="box-in"><a href="#" class="footer__link">Quality Assurance</a></div>
                <div class="box-in"><a href="#" class="footer__link">Awwards</a></div>
            </div>
            <div class="footer__box">
                <span class="footer__title">Get in Touch</span>
                <div class="box-in"><a href="./contact" class="footer__link">Contact Us</a></div>
                <div class="box-in"><a href="./contact/" class="footer__link">Location</a></div>
                <div class="box-in"><a href="./contact" class="footer__link">Our Branches</a></div>
                <div class="box-in"><a href="./contact" class="footer__link">Follow Us on Social Media</a></div>
            </div>
        </div>
        <div class="footer__copy">
            <hr class="footer__hl">
            <span class="copyright">&COPY; Copyright 2023, All Right reserved</span>
        </div>
    </div>
</footer>