<div class="contact">
    <div class="contact__inner">
        <div class="contact__header">
            <span class="contact__heading">Contact Us</span>
            <p class="contact__desc">If you have any questions or suggestions, don't hesitate to get in touch with us.</p>
            <hr class="hr-line">
        </div>
        <div class="contact__info">
            <div class="contact__info-1">
                <p>Sagar R.</p>
                <p>Days 3756</p>
                <p>Preston Street Wichita, KS 67213</p>
                <p>Phone: 915-2525-7575</p>
            </div>
            <div class="contact__info-1">
                <p>Sagar R. Days 3756 Preston Street Wichita, KS 67213 Phone: 915-2525-7575</p>
            </div>
            <div class="contact__info-1">
                <p>Email: info@srr21.com</p>
                <p>www.srr21info.com</p>
            </div>
        </div>
        <div class="line">
            <hr class="hr-line-2">
        </div>
        <div class="contact__map" id="location">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30765247.218902506!2d61.02662521665523!3d19.73290760644368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1695894531798!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>